#### ‚öôÔ∏è Importa√ß√µes

In [ ]:
# !pip install pycaret
# !pip install Unidecode

In [3]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from pycaret.classification import ClassificationExperiment

In [4]:
# from google.colab import drive

# drive.mount('/content/drive')
# df = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/censo_cultural.xlsx')

In [5]:
# df = pd.read_excel('/mnt/g/Meu Drive/Colab Notebooks/censo_cultural.xlsx')
df = pd.read_excel('censo_cultural.xlsx')

#### üîå Functions

##### Renomear colunas

In [6]:
def rename_columns()->None:
    df.rename(columns={
    '2) Qual o seu curso?': 'curso',
    '3) Qual o Ano que est√° cursando? ': 'serie',
    '5) Voc√™ √© um aluno(a)...  ': 'tipo_residente',
    '6) Quais dessas ATIVIDADES CULTURAIS voc√™ participa ou j√° participou?': 'atv_culturais',
    '7) Quais dessas HABILIDADES MUSICAIS voc√™ possui?': 'hab_musicais',
    '8) Quais desses ESPORTES voc√™ pratica?': 'esportes',
    '9) Quais desses JOGOS voc√™ pratica?': 'jogos',
    '10) Quais dessas LUTAS voc√™ pratica?': 'lutas',
    '11) Em rela√ß√£o √†s 5 perguntas anteriores, quais dessas atividades voc√™ se considera bom e capaz de ensinar aos seus colegas?': 'melhores_atividades', # remover
    '12) Quais dessas ATIVIDADES CULTURAIS voc√™ gostaria de participar?': 'atv_culturais_a_fazer',
    '13) Quais dessas HABILIDADES MUSICAIS voc√™ gostaria de possuir?': 'hab_musicais_desejadas',
    '14) Quais desses ESPORTES voc√™ gostaria de praticar?': 'esportes_desejados',
    '15) Quais desses JOGOS voc√™ gostaria de praticar?': 'jogos_desejados',
    '16) Quais dessas LUTAS voc√™ gostaria de praticar?': 'lutas_desejadas',
    '17) Em quais HOR√ÅRIOS voc√™ teria disponibilidades para exercer Atividades Culturais?': 'horarios_disponiveis', # remover
    '18) Em quais LOCAIS voc√™ teria disponibilidades para exercer Atividades Culturais ': 'locais_disponiveis', # remover
    '19) Em rela√ß√£o √†s ESTRUTURAS EXISTENTES, o que voc√™ gostaria que melhorasse em nossa institui√ß√£o?': 'melhoria_estrutura',
    '20) Em rela√ß√£o √†s NOVAS ESTRUTURAS, o que voc√™ desejaria que houvesse em nossa institui√ß√£o?': 'novas_estruturas',
    '21) Em rela√ß√£o √† ALIMENTA√á√ÉO, o que voc√™ desejaria que fosse melhorado em nossa institui√ß√£o?': 'melhoria_alimentacao',
    '22) Em rela√ß√£o ao TRANSPORTE, o que voc√™ desejaria que fosse melhorado?': 'transporte',
    '23) Quais desse PROJETOS ESPECIAIS, voc√™ teria interesse em participar?': 'projetos_a_participar'
}, inplace=True)

##### Tratamento de strings

In [7]:
def encoder(series_names: list)->None:
   for serie_name in series_names:
      enc = LabelEncoder()
      df[serie_name] = enc.fit_transform(df[serie_name])

In [8]:
import unidecode as uni

def remove_accent(name):
    return uni.unidecode(str(name))

##### Dummies

In [9]:
def insert_dummies(df: pd.DataFrame, dummies: pd.DataFrame, insert_position: int) -> None:
    df = pd.concat([df.iloc[:, :insert_position], dummies, df.iloc[:, insert_position:]], axis=1)
    df.drop('aux', axis=1, inplace=True)

#### üìë Pr√©-processamento dos dados

In [10]:
rename_columns()

In [11]:
df.drop(
    columns=[
        "Carimbo de data/hora",
        "1) Nome Completo: ",
        "4) Qual a sua Turma? ",
        "melhores_atividades",
        "horarios_disponiveis",
        "locais_disponiveis",
    ],
    inplace=True,
)

In [12]:
for column in df.columns:
    df[column] = df[column].str.lower()
    df[column] = df[column].apply(remove_accent)

In [13]:
encoder([
    'serie',
    'tipo_residente',
])

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 611 entries, 0 to 610
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   curso                   611 non-null    object
 1   serie                   611 non-null    int64
 2   tipo_residente          611 non-null    int64
 3   atv_culturais           611 non-null    object
 4   hab_musicais            611 non-null    object
 5   esportes                611 non-null    object
 6   jogos                   611 non-null    object
 7   lutas                   611 non-null    object
 8   atv_culturais_a_fazer   611 non-null    object
 9   hab_musicais_desejadas  611 non-null    object
 10  esportes_desejados      611 non-null    object
 11  jogos_desejados         611 non-null    object
 12  lutas_desejadas         611 non-null    object
 13  melhoria_estrutura      611 non-null    object
 14  novas_estruturas        611 non-null    object
 15  melhoria_alimentacao    611 non-null    object
 16  transporte              611 non-null    object
 17  projetos_a_participar   611 non-null    object
dtypes: int64(2), object(16)
memory usage: 86.0+ KB

#### üìë Pr√© processamento - Valores unicos

##### atv_culturais

In [15]:
df['aux'] = df['atv_culturais'].apply(
    lambda column: [
        item.strip() for item in column
            .replace(' / ', '/')
            .replace('/ ', '/')
            .replace(' /', '/')
            .replace('artes marciais', 'luta')
            .replace('capoeira', 'luta')
            .replace('karate', 'luta')
            .replace('canto', 'musica')
            .replace('outro: musica', 'musica')
            .replace('praticava futsal no ginasio da vila sao joao', 'futsal')
            .split(',')
    ]
)

dummies = df['aux'].str.join('|').str.get_dummies(sep='|').add_prefix('atv_cultural_')

insert_position = df.columns.get_loc('atv_culturais') + 1

df = pd.concat([df.iloc[:, :insert_position], dummies, df.iloc[:, insert_position:]], axis=1)
df.drop('aux', axis=1, inplace=True)

##### hab_musicais

In [16]:
df['aux'] = df['hab_musicais'].apply(
    lambda column: [
        item.strip() for item in column
            .replace(' / ', '/')
            .replace('/ ', '/')
            .replace(' /', '/')
            .split(',')
    ]
)

dummies = df['aux'].str.join('|').str.get_dummies(sep='|').add_prefix('hab_musical_')

insert_position = df.columns.get_loc('hab_musicais') + 1

df = pd.concat([df.iloc[:, :insert_position], dummies, df.iloc[:, insert_position:]], axis=1)
df.drop('aux', axis=1, inplace=True)

##### esportes

In [17]:
df['aux'] = df['esportes'].apply(
    lambda column: [
        item.strip() for item in column
            .replace(' / ', '/')
            .replace('/ ', '/')
            .replace(' /', '/')
            .replace('caminhada/corridaa', 'caminhada/corrida')
            .replace('futbol de campo', 'futebol de campo')
            .replace('futbol de salao', 'futebol de salao')
            .replace('handbol', 'handebol')
            .replace('musculacao', 'academia')
            .replace('karate', 'artes marciais')
            .split(',')
    ]
)

dummies = df['aux'].str.join('|').str.get_dummies(sep='|').add_prefix('esporte_')

insert_position = df.columns.get_loc('esportes') + 1

df = pd.concat([df.iloc[:, :insert_position], dummies, df.iloc[:, insert_position:]], axis=1)
df.drop('aux', axis=1, inplace=True)

##### jogos

In [18]:
df['aux'] = df['jogos'].apply(
    lambda column: [
        item.strip() for item in column
            .replace(' / ', '/')
            .replace('/ ', '/')
            .replace(' /', '/')
            .replace('assim como o de mesa', 'rpg')
            .replace('filho da puta', 'nenhuma opcao')
            .replace('league of legends', 'jogos eletronicos')
            .replace('overwatch', 'jogos eletronicos')
            .replace("(toto)", '')
            .replace('pebolin', 'pebolin/toto')
            .replace('por exemplo o d&d', 'rpg')
            .replace('rpg variados', 'rpg')
            .replace('xadres', 'xadrez')
            .split(',')
    ]
)

dummies = df['aux'].str.join('|').str.get_dummies(sep='|').add_prefix('jogo_')

insert_position = df.columns.get_loc('jogos') + 1

df = pd.concat([df.iloc[:, :insert_position], dummies, df.iloc[:, insert_position:]], axis=1)
df.drop('aux', axis=1, inplace=True)

##### lutas

In [19]:
df['aux'] = df['lutas'].apply(
    lambda column: [
        item.strip() for item in column
            .replace(' / ', '/')
            .replace('/ ', '/')
            .replace(' /', '/')
            .replace('ja pratiquei karate', 'karate')
            .split(',')
    ]
)

dummies = df['aux'].str.join('|').str.get_dummies(sep='|').add_prefix('luta_')

insert_position = df.columns.get_loc('lutas') + 1

df = pd.concat([df.iloc[:, :insert_position], dummies, df.iloc[:, insert_position:]], axis=1)
df.drop('aux', axis=1, inplace=True)

##### atv_culturais_a_fazer

In [20]:
df['aux'] = df['atv_culturais_a_fazer'].apply(
    lambda column: [
        item.strip() for item in column
            .replace(' / ', '/')
            .replace('/ ', '/')
            .replace(' /', '/')
            .replace('aula de bateria', 'aprender algum instrumento')
            .replace('tocar teclado ou outros instrumentos.', 'aprender algum instrumento')
            .replace('(marquei poesia, mas sou boa em leitura, nao em escrever)', '')
            .replace('outras opcoes (especifique) ou observacoes', '')
            .replace('karate', 'luta')
            .replace('jiu-jitsu', 'luta')
            .split(',')
    ]
)

dummies = df['aux'].str.join('|').str.get_dummies(sep='|').add_prefix('atv_culturais_a_fazer_')

insert_position = df.columns.get_loc('atv_culturais_a_fazer') + 1

df = pd.concat([df.iloc[:, :insert_position], dummies, df.iloc[:, insert_position:]], axis=1)
df.drop('aux', axis=1, inplace=True)

##### hab_musicais_desejadas

In [21]:
df['aux'] = df['hab_musicais_desejadas'].apply(
    lambda column: [
        item.strip() for item in column
            .replace(' / ', '/')
            .replace('/ ', '/')
            .replace(' /', '/')
            .replace('percussao', '')
            .replace('percussa', '')
            .replace('bateria/', 'bateria/percussao')
            .replace('violao/guitarra/demais instrumentos de corda', 'canto, instrumentos de corda')
            .replace('canto/violao/guitarra/demais instrumentos de corda', 'canto/canto, instrumentos de corda')
            .replace('canto/canto', 'canto')
            .split(',')
    ]
)

dummies = df['aux'].str.join('|').str.get_dummies(sep='|').add_prefix('hab_musicais_desejadas_')

insert_position = df.columns.get_loc('hab_musicais_desejadas') + 1

df = pd.concat([df.iloc[:, :insert_position], dummies, df.iloc[:, insert_position:]], axis=1)
df.drop('aux', axis=1, inplace=True)

##### esportes_desejados

In [22]:
df['aux'] = df['esportes_desejados'].apply(
    lambda column: [
        item.strip() for item in column
            .replace(' / ', '/')
            .replace('/ ', '/')
            .replace(' /', '/')
            .replace('futbol de campo', 'futebol de campo')
            .replace('futebol de campo/basquete/handebol/pingue pongue/peteca/futmesa', 'futebol de campo, basquete, handebol, pingue pongue, peteca, futmesa')
            .replace('futvilei', 'futvolei')
            .replace('handbol', 'handebol')
            .replace('queimada e atletismo', 'queimada, atletismo')
            .replace('voleiboll', 'voleibol')
            .replace('voleiwheeling e moto crossboll', 'wheeling/moto cross')
            .split(',')
    ]
)

dummies = df['aux'].str.join('|').str.get_dummies(sep='|').add_prefix('esportes_desejados_')

insert_position = df.columns.get_loc('esportes_desejados') + 1

df = pd.concat([df.iloc[:, :insert_position], dummies, df.iloc[:, insert_position:]], axis=1)
df.drop('aux', axis=1, inplace=True)

##### jogos_desejados

In [23]:
df['aux'] = df['jogos_desejados'].apply(
    lambda column: [
        item.strip() for item in column
            .replace(' / ', '/')
            .replace('/ ', '/')
            .replace(' /', '/')
            .replace("(toto)", '')
            .replace('pebolin', 'pebolin/toto')
            .split(',')
    ]
)

dummies = df['aux'].str.join('|').str.get_dummies(sep='|').add_prefix('jogos_desejados_')

insert_position = df.columns.get_loc('jogos_desejados') + 1

df = pd.concat([df.iloc[:, :insert_position], dummies, df.iloc[:, insert_position:]], axis=1)
df.drop('aux', axis=1, inplace=True)

##### lutas_desejadas

In [24]:
df['aux'] = df['lutas_desejadas'].apply(
    lambda column: [
        item.strip() for item in column
            .replace(' / ', '/')
            .replace('/ ', '/')
            .replace(' /', '/')
            .replace("kung fuh", 'kung fu')
            .split(',')
    ]
)

dummies = df['aux'].str.join('|').str.get_dummies(sep='|').add_prefix('lutas_desejadas_')

insert_position = df.columns.get_loc('lutas_desejadas') + 1

df = pd.concat([df.iloc[:, :insert_position], dummies, df.iloc[:, insert_position:]], axis=1)
df.drop('aux', axis=1, inplace=True)

In [25]:
# Anqlisar viabilidade de usar essa t√©cnica aqui tamb√©m
# def melt_columns(prefix: str, var_name: str, value_name: str):
#     return df.melt(
#         id_vars=["curso"],
#         value_vars=[col for col in df.columns if col.startswith(prefix)],
#         var_name=var_name,
#         value_name=value_name,
#     )

# atv_melt = melt_columns("atv_cultural_", "atividade", "tipo")

#### üóÉÔ∏è Bases - Criar bases para aplica√ß√£o dos algoritmos

In [26]:
df.drop(columns=[
    'atv_culturais',
    'hab_musicais',
    'esportes',
    'jogos',
    'lutas',
    'atv_culturais_a_fazer',
    'hab_musicais_desejadas',
    'esportes_desejados',
    'jogos_desejados',
    'lutas_desejadas',
], inplace=True)

In [27]:
# Buscar os √≠ndices de cada coluna para falicitar a divis√£o das bases de dados
for index, column in enumerate(df.columns):
    print(f"√çndice: {index}, Coluna: {column}")

√çndice: 0, Coluna: curso
√çndice: 1, Coluna: serie
√çndice: 2, Coluna: tipo_residente
√çndice: 3, Coluna: atv_cultural_apresentacoes musicais
√çndice: 4, Coluna: atv_cultural_artesanato
√çndice: 5, Coluna: atv_cultural_crio historia e enigmas
√çndice: 6, Coluna: atv_cultural_danca
√çndice: 7, Coluna: atv_cultural_edicoes de video...
√çndice: 8, Coluna: atv_cultural_esporte
√çndice: 9, Coluna: atv_cultural_fotografia
√çndice: 10, Coluna: atv_cultural_futsal
√çndice: 11, Coluna: atv_cultural_grafite/arte urbana
√çndice: 12, Coluna: atv_cultural_luta
√çndice: 13, Coluna: atv_cultural_musica
√çndice: 14, Coluna: atv_cultural_natacao
√çndice: 15, Coluna: atv_cultural_nenhuma opcao
√çndice: 16, Coluna: atv_cultural_oficinas de gastronomia
√çndice: 17, Coluna: atv_cultural_pesquisa cientifica
√çndice: 18, Coluna: atv_cultural_piano
√çndice: 19, Coluna: atv_cultural_pintura de pano
√çndice: 20, Coluna: atv_cultural_pintura/desenho
√çndice: 21, Coluna: atv_cultural_poesia/literatura
√çndice: 22, Coluna: atv_cultural_producao de videos
√çndice: 23, Coluna: atv_cultural_teatro
√çndice: 24, Coluna: atv_cultural_violao
√çndice: 25, Coluna: hab_musical_bateria/percussao
√çndice: 26, Coluna: hab_musical_berimbau
√çndice: 27, Coluna: hab_musical_canto
√çndice: 28, Coluna: hab_musical_carron
√çndice: 29, Coluna: hab_musical_instrumentos de sopro
√çndice: 30, Coluna: hab_musical_muito pouco.
√çndice: 31, Coluna: hab_musical_nenhuma opcao
√çndice: 32, Coluna: hab_musical_outro: meia lua
√çndice: 33, Coluna: hab_musical_piano/orgao/teclado
√çndice: 34, Coluna: hab_musical_repente
√çndice: 35, Coluna: hab_musical_rima
√çndice: 36, Coluna: hab_musical_sanfona
√çndice: 37, Coluna: hab_musical_sei muito pouco sobre violino
√çndice: 38, Coluna: hab_musical_violao/guitarra/demais instrumentos de corda
√çndice: 39, Coluna: esporte_academia
√çndice: 40, Coluna: esporte_artes marciais
√çndice: 41, Coluna: esporte_atletismo
√çndice: 42, Coluna: esporte_badminton
√çndice: 43, Coluna: esporte_basquete
√çndice: 44, Coluna: esporte_caminhada/corrida
√çndice: 45, Coluna: esporte_ciclismo
√çndice: 46, Coluna: esporte_futebol de campo
√çndice: 47, Coluna: esporte_futebol de salao
√çndice: 48, Coluna: esporte_futmesa
√çndice: 49, Coluna: esporte_futsal
√çndice: 50, Coluna: esporte_futvolei
√çndice: 51, Coluna: esporte_handebol
√çndice: 52, Coluna: esporte_natacao
√çndice: 53, Coluna: esporte_nenhuma opcao
√çndice: 54, Coluna: esporte_peteca
√çndice: 55, Coluna: esporte_pingue pongue
√çndice: 56, Coluna: esporte_queimada
√çndice: 57, Coluna: esporte_tenis
√çndice: 58, Coluna: esporte_vaquejada/rodeio/cavalgada
√çndice: 59, Coluna: esporte_voleibol
√çndice: 60, Coluna: jogo_buraco
√çndice: 61, Coluna: jogo_dama
√çndice: 62, Coluna: jogo_domino
√çndice: 63, Coluna: jogo_jogos eletronicos
√çndice: 64, Coluna: jogo_nenhuma opcao
√çndice: 65, Coluna: jogo_pebolin/toto
√çndice: 66, Coluna: jogo_pif
√çndice: 67, Coluna: jogo_resta um
√çndice: 68, Coluna: jogo_rpg
√çndice: 69, Coluna: jogo_sinuca
√çndice: 70, Coluna: jogo_truco
√çndice: 71, Coluna: jogo_uno
√çndice: 72, Coluna: jogo_xadrez
√çndice: 73, Coluna: luta_boxe
√çndice: 74, Coluna: luta_capoeira
√çndice: 75, Coluna: luta_jeet kune do
√çndice: 76, Coluna: luta_jiu-jitsu
√çndice: 77, Coluna: luta_judo
√çndice: 78, Coluna: luta_karate
√çndice: 79, Coluna: luta_krav maga
√çndice: 80, Coluna: luta_kung fu
√çndice: 81, Coluna: luta_muay thai
√çndice: 82, Coluna: luta_nenhuma opcao
√çndice: 83, Coluna: atv_culturais_a_fazer_aprender algum instrumento
√çndice: 84, Coluna: atv_culturais_a_fazer_apresentacoes musicais
√çndice: 85, Coluna: atv_culturais_a_fazer_artesanato
√çndice: 86, Coluna: atv_culturais_a_fazer_danca
√çndice: 87, Coluna: atv_culturais_a_fazer_fotografia
√çndice: 88, Coluna: atv_culturais_a_fazer_grafite/arte urbana
√çndice: 89, Coluna: atv_culturais_a_fazer_luta
√çndice: 90, Coluna: atv_culturais_a_fazer_musica
√çndice: 91, Coluna: atv_culturais_a_fazer_nenhuma opcao
√çndice: 92, Coluna: atv_culturais_a_fazer_oficina de gastronomia
√çndice: 93, Coluna: atv_culturais_a_fazer_pintura/desenho
√çndice: 94, Coluna: atv_culturais_a_fazer_poesia/literatura
√çndice: 95, Coluna: atv_culturais_a_fazer_teatro
√çndice: 96, Coluna: hab_musicais_desejadas_artes digitais
√çndice: 97, Coluna: hab_musicais_desejadas_bateria/percussao
√çndice: 98, Coluna: hab_musicais_desejadas_canto
√çndice: 99, Coluna: hab_musicais_desejadas_desenho
√çndice: 100, Coluna: hab_musicais_desejadas_instrumentos de corda
√çndice: 101, Coluna: hab_musicais_desejadas_instrumentos de sopro
√çndice: 102, Coluna: hab_musicais_desejadas_kalimba
√çndice: 103, Coluna: hab_musicais_desejadas_nenhuma opcao
√çndice: 104, Coluna: hab_musicais_desejadas_pandeiro
√çndice: 105, Coluna: hab_musicais_desejadas_piano/orgao/teclado
√çndice: 106, Coluna: hab_musicais_desejadas_rima
√çndice: 107, Coluna: hab_musicais_desejadas_sanfona
√çndice: 108, Coluna: esportes_desejados_atletismo
√çndice: 109, Coluna: esportes_desejados_badminton
√çndice: 110, Coluna: esportes_desejados_basquete
√çndice: 111, Coluna: esportes_desejados_beatch tenis
√çndice: 112, Coluna: esportes_desejados_caminhada/corrida
√çndice: 113, Coluna: esportes_desejados_ciclismo
√çndice: 114, Coluna: esportes_desejados_futebol de campo
√çndice: 115, Coluna: esportes_desejados_futebol de salao
√çndice: 116, Coluna: esportes_desejados_futmesa
√çndice: 117, Coluna: esportes_desejados_futvolei
√çndice: 118, Coluna: esportes_desejados_handebol
√çndice: 119, Coluna: esportes_desejados_natacao
√çndice: 120, Coluna: esportes_desejados_nenhuma opcao
√çndice: 121, Coluna: esportes_desejados_peteca
√çndice: 122, Coluna: esportes_desejados_pingue pongue
√çndice: 123, Coluna: esportes_desejados_queimada
√çndice: 124, Coluna: esportes_desejados_tenis
√çndice: 125, Coluna: esportes_desejados_vaquejada/rodeio/cavalgada
√çndice: 126, Coluna: esportes_desejados_voleibol
√çndice: 127, Coluna: esportes_desejados_wheeling e moto cross
√çndice: 128, Coluna: jogos_desejados_dama
√çndice: 129, Coluna: jogos_desejados_domino
√çndice: 130, Coluna: jogos_desejados_jogos eletronicos
√çndice: 131, Coluna: jogos_desejados_nenhuma opcao
√çndice: 132, Coluna: jogos_desejados_pebolin/toto
√çndice: 133, Coluna: jogos_desejados_pif
√çndice: 134, Coluna: jogos_desejados_sinuca
√çndice: 135, Coluna: jogos_desejados_truco
√çndice: 136, Coluna: jogos_desejados_uno
√çndice: 137, Coluna: jogos_desejados_xadrez
√çndice: 138, Coluna: lutas_desejadas_boxe
√çndice: 139, Coluna: lutas_desejadas_capoeira
√çndice: 140, Coluna: lutas_desejadas_jiu-jitsu
√çndice: 141, Coluna: lutas_desejadas_judo
√çndice: 142, Coluna: lutas_desejadas_karate
√çndice: 143, Coluna: lutas_desejadas_kung fu
√çndice: 144, Coluna: lutas_desejadas_muay thai
√çndice: 145, Coluna: lutas_desejadas_nenhuma opcao
√çndice: 146, Coluna: lutas_desejadas_taekwondo
√çndice: 147, Coluna: melhoria_estrutura
√çndice: 148, Coluna: novas_estruturas
√çndice: 149, Coluna: melhoria_alimentacao
√çndice: 150, Coluna: transporte
√çndice: 151, Coluna: projetos_a_participar

##### base das perguntas sobre as atividades que o aluno faz - colunas 0-83

In [28]:
df_atv = df.iloc[:, :83].copy()
df_atv

,curso,serie,tipo_residente,atv_cultural_apresentacoes musicais,atv_cultural_artesanato,atv_cultural_crio historia e enigmas,atv_cultural_danca,atv_cultural_edicoes de video...,atv_cultural_esporte,atv_cultural_fotografia,...,luta_boxe,luta_capoeira,luta_jeet kune do,luta_jiu-jitsu,luta_judo,luta_karate,luta_krav maga,luta_kung fu,luta_muay thai,luta_nenhuma opcao
0,agro,0,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,agro,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,agro,0,0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,agro,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,agro,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,mamb,2,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
607,mamb,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
608,mamb,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
609,mamb,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
610,mamb,2,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1

##### base das perguntas sobre as atividades culturais que o aluno deseja aprender - colunas 88-157

In [29]:
df_atv_a_fazer = pd.concat([df.iloc[:, :3], df.iloc[:, 83:147]], axis=1)
df_atv_a_fazer

,curso,serie,tipo_residente,atv_culturais_a_fazer_aprender algum instrumento,atv_culturais_a_fazer_apresentacoes musicais,atv_culturais_a_fazer_artesanato,atv_culturais_a_fazer_danca,atv_culturais_a_fazer_fotografia,atv_culturais_a_fazer_grafite/arte urbana,atv_culturais_a_fazer_luta,...,jogos_desejados_xadrez,lutas_desejadas_boxe,lutas_desejadas_capoeira,lutas_desejadas_jiu-jitsu,lutas_desejadas_judo,lutas_desejadas_karate,lutas_desejadas_kung fu,lutas_desejadas_muay thai,lutas_desejadas_nenhuma opcao,lutas_desejadas_taekwondo
0,agro,0,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
1,agro,0,1,0,0,0,1,0,0,0,...,1,0,0,0,0,1,0,0,0,0
2,agro,0,0,0,0,1,1,0,1,0,...,0,1,0,0,0,0,0,0,0,0
3,agro,0,0,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
4,agro,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,mamb,2,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
607,mamb,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
608,mamb,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
609,mamb,2,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,1,0,0
610,mamb,2,0,0,0,0,0,0,0,0,...,0,1,0,1,1,0,0,1,0,0

##### base das perguntas sobre estrutura - colunas 1-3, 157:

In [30]:
df_estrutura = pd.concat([df.iloc[:, :3], df.iloc[:, 147:]], axis=1)
df_estrutura

,curso,serie,tipo_residente,melhoria_estrutura,novas_estruturas,melhoria_alimentacao,transporte,projetos_a_participar
0,agro,0,1,"recuperacao da sala de jogos, recuperacao do c...","areas para descanso para o intervalo, salas de...",lanches diarios,"criacao de uma ciclovia, para seguranca de que...",recuperacao e ocupacao do antigo cine januaria
1,agro,0,1,"melhora na qualidade e alcance da internet, re...",areas para descanso para o intervalo,lanches diarios,nenhuma opcao,oficina de violao
2,agro,0,0,"melhora na qualidade e alcance da internet, re...","areas para descanso para o intervalo, colchone...","opcoes vegetarianas no almoco, almoco para tod...",melhores condicoes dos onibus terceirizados (m...,recuperacao e ocupacao do antigo cine januaria
3,agro,0,0,"melhora na qualidade e alcance da internet, re...","areas para descanso para o intervalo, salas de...","almoco para todos, lanches diarios, compra de ...","criacao de uma ciclovia, para seguranca de que...",recuperacao e ocupacao do antigo cine januaria
4,agro,0,0,"melhora na qualidade e alcance da internet, su...",salas de aula ao ar livre,"opcoes vegetarianas no almoco, lanches diarios...","criacao de uma ciclovia, para seguranca de que...",oficina de violao
...,...,...,...,...,...,...,...,...
606,mamb,2,0,"melhora na qualidade e alcance da internet, ma...","areas para descanso para o intervalo, colchone...","almoco para todos, lanches diarios, compra de ...","criacao de uma ciclovia, para seguranca de que...",recuperacao e ocupacao do antigo cine januaria
607,mamb,2,0,"melhora na qualidade e alcance da internet, ma...","areas para descanso para o intervalo, microond...","almoco para todos, lanches diarios, poder paga...","criacao de uma ciclovia, para seguranca de que...",nenhuma opcao
608,mamb,2,0,"melhora na qualidade e alcance da internet, ma...","areas para descanso para o intervalo, colchone...","almoco para todos, lanches diarios, compra de ...","criacao de uma ciclovia, para seguranca de que...",recuperacao e ocupacao do antigo cine januaria
609,mamb,2,0,"melhora na qualidade e alcance da internet, ma...",areas para descanso para o intervalo,compra de ticktes on-line (sem precisar enfren...,"criacao de uma ciclovia, para seguranca de que...",oficina de violao
610,mamb,2,0,"melhora na qualidade e alcance da internet, ma...","areas para descanso para o intervalo, colchone...","opcoes vegetarianas no almoco, lanches diarios","criacao de uma ciclovia, para seguranca de que...",nenhuma opcao

##### base para dashboard

In [31]:
# df.drop(columns=[
#     'atv_culturais',
#     'hab_musicais',
#     'esportes',
#     'jogos',
#     'lutas',
#     'atv_culturais_a_fazer',
#     'hab_musicais_desejadas',
#     'esportes_desejados',
#     'jogos_desejados',
#     'lutas_desejadas',
#     # Analisar como fazer a tratativa nessas colunas ao inv√©s de remover
#     'melhoria_estrutura',
#     'novas_estruturas',
#     'melhoria_alimentacao',
#     'transporte',
#     'projetos_a_participar',
# ], inplace=True)

# df.to_csv('data.csv', index=False)

#### üßÆ Algoritmos - Classifica√ß√£o

In [32]:
s = ClassificationExperiment()
s.setup(df_atv, target='curso', session_id=1)

In [33]:
best = s.compare_models()

In [34]:
s = ClassificationExperiment()
s.setup(df_atv_a_fazer, target='curso', session_id=2)

In [35]:
best = s.compare_models()

In [36]:
s = ClassificationExperiment()
s.setup(df_estrutura, target='curso', session_id=3)

In [37]:
best = s.compare_models()

In [38]:
s = ClassificationExperiment()
s.setup(df, target='curso', session_id=4)

In [39]:
best = s.compare_models()